
Welcome <%=@user.username%>, the following are your projects:<br></br>

<% @user.projects.each do |project|%>
  <li>
     <a href='/projects/<%=project.id%>'><%=project.title%></a>
     <% end %>
  </li>