<form action='/projects/new' method='post'>
 
 Title:<input type='text' name='project[title]' id='title'><br>

 Description:<input type='text' name='project[description]' id='description'><br>

 General Contractor:<input type='text' name='project[general_contractor]' id='general_contractor'><br>

 Type:<input type='text' name='project[project_type]' id='project_type'><br>

 
 <input type='submit' value='Save'>
 </form>