     
    <h3>Title:<%=@project.title%></h3>
    <h3>Description:<%=@project.description%></h3>
    <h3>General Contractor:<%=@project.general_contractor%></h3>
    <h3>Type:<%=@project.project_type%></h3>
    
    